*[data-ismain="true"] *[data-btnshow="room"]
{
	display: none !important;
}
*[data-ismain="false"] *[data-btnshow="main"]
{
	display: none !important;
}
.word-break-all
{
	word-break: break-all;
}
.transition-w
{
	transition: width .1s ease;
}